<script>
  import { Test } from 'ui';
</script>

<h1>Welcome to SvelteKit</h1>
<h1 class="text-red-600">intern</h1>
<Test />
<p>
  Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation
</p>
